[package]
name = "keymap"
description = "A library for parsing terminal input events from configuration"
authors = ["Marut Khumtong <code@rezigned.com>"]
version = "0.4.1"
homepage = "https://github.com/rezigned/keymap-rs"
repository = "https://github.com/rezigned/keymap-rs"
edition = "2021"
keywords = ["terminal", "event", "config", "keymapping", "keybinding"]
license = "MIT"

[lib]
doctest = false

[dependencies]
crossterm = { version = "0.28", optional = true }
termion = { version = "4.0", optional = true }
pom = "3.4.0"
serde = { version = "1.0", features = ["derive"] }
strum = "0.27"
strum_macros = "0.26"

[features]
default = ["crossterm"]

[dev-dependencies]
toml = "0.8"

[[example]]
name = "crossterm"
required-features = ["crossterm"]

[[example]]
name = "termion"
required-features = ["termion"]
